/* Base */

/* ----------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

.c {
    display: inline;
    color: #00f;
    font-size: 12px;
}

.c:after {
    content: attr(data-value);
}

html, body {
    height: 100%;
}

body {
    /* font-family: Helvetica, Arial, sans-serif; */
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    background-color: #fdfdfd;
}

img {
    max-width: 95%;
}

/* Topnav */

.topnav {
    overflow: hidden;
    background-color: #fff;
    margin: 0 auto;
    padding: 5px 5px 5px 15px;
    text-align: center;
    max-width: 900px;
    border-bottom: 1px solid #dee2e6!important;
    display: flex!important;
    justify-content: space-between!important;
}

.ava {
    display: flex!important;
    align-items: center!important;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    color: #009933;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}

table {
    border-collapse: collapse;
    margin: auto;
}

.post-content>table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

a {
    color: #2a7ae2;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

a:visited {
    color: #205caa;
}

/* hr style */

hr {
    margin: auto !important;
    width: 100px;
    position: relative;
    border-top: 2px solid #0071bc;
    margin-top: 15px;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

/* Utility */

.wrap:before, .wrap:after {
    content: "";
    display: table;
}

.wrap:after {
    clear: both;
}

.wrap {
    max-width: 900px;
    padding: 0 30px;
    margin: 0 auto;
    zoom: 1;
}

/* Layout Styles */

/* ----------------------------------------------------------*/

/* Custom CSS rules for index page */

.module-header {
    font-size: 24px;
    color: #009933;
    margin-top: 20px;
    margin-bottom: 5px;
}

.materials-wrap {
    font-size: 18px;
}

.materials-item .tt a {
    color: #333;
    display: block;
    padding: 3px;
}

.materials-item {
    margin-top: 20px;
    box-shadow: 0 0 10px #eee;
    border: 1px solid #dee2e6!important;
}

/* Custom CSS rules for content */

.embedded-video {
    text-align: center;
    background-color: #f7f6f1;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
}

/* Custom CSS for pages */

.figcenter {
    text-align: center;
}

.fig img {
    max-width: 98%;
}

.figleft img {
    max-width: 50%;
    float: left;
    margin-right: 20px;
}

.figleft svg {
    float: left;
    margin-right: 20px;
}

.fighighlight {
    /* background-color: #f7f6f1; */
    padding: 20px 4px 20px 4px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    /* box-shadow: 0px 2px 5px #CCC, 0px -2px 5px #CCC; */
}

.figcaption {
    font-weight: 400;
    font-size: 14px;
    color: #575651;
    text-align: justify;
}

.tt {
    font-size: 20px;
    color: #000;
    margin-left: 5px;
}

.kw {
    font-size: 16px;
    color: #08A;
    margin-left: 20px;
}

.kws {
    font-size: 20px;
    text-align: center;
}

.kws a {
    color: #009933;
    padding: 3px;
    border-bottom: 1px solid #e8e8e8;
}

.tag {
    display: none;
}

.notyet {
    background-color: #FEE !important;
}

/* Site header */

.title-wrap {
    text-align: center;
}

.site-header {
    border-bottom: 1px solid #e8e8e8;
    min-height: 56px;
    background-color: #ffffff;
}

.site-title, .site-title:hover, .site-title:visited {
    margin-left: 50px;
    font-size: 26px;
    letter-spacing: -1px;
    line-height: 56px;
    position: relative;
    z-index: 1;
    color: #009933;
    font-weight: 100;
}

.site-nav {
    float: right;
    line-height: 56px;
}

.site-nav .menu-icon {
    display: none;
}

.site-nav .page-link {
    margin-left: 20px;
    color: #727272;
    letter-spacing: -.5px;
}

/* Page Content styles */

/* ----------------------------------------------------------*/

.page-content {
    padding: 0px 0;
}

/* Home styles */

/* ----------------------------------------------------------*/

.home h1 {
    margin-bottom: 25px;
}

.posts {
    list-style-type: none;
}

.posts li {
    margin-bottom: 30px;
}

.posts .post-link {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1;
}

.posts .post-date {
    display: block;
    font-size: 15px;
    color: #818181;
}

/* Post styles */

/* ----------------------------------------------------------*/

.post-header {
    margin: 10px 0 30px;
}

.post-header h1 {
    font-size: 2em;
    text-align: center;
}

.post-header .meta {
    font-size: 15px;
    color: #818181;
    margin-top: 5px;
    text-align: center;
}

.post-content {
    margin: 0 0 30px;
}

.post-content>* {
    margin: 0px 0;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    line-height: 1;
    font-weight: 300;
    margin: 40px 0 20px;
}

.post-header h1 {
    font-size: 2em;
}

.post-content h2 {
    font-size: 1.5em;
}

.post-content h3 {
    font-size: 1.17em;
}

.post-content h4 {
    font-size: 0.82em;
}

/*
.post-content h2 {
    font-size: 32px;
    letter-spacing: -1.25px;
}

.post-content h3 {
    font-size: 26px;
    letter-spacing: -1px;
}

.post-content h4 {
    font-size: 20px;
    letter-spacing: -1px;
}
*/

.post-content blockquote {
    border-left: 4px solid #e8e8e8;
    padding-left: 20px;
    font-size: 18px;
    opacity: .6;
    letter-spacing: -1px;
    font-style: italic;
    margin: 30px 0;
}

.post-content ul, .post-content ol {
    padding-left: 20px;
}

/*
.post pre, .post code {
    border: 1px solid #d5d5e9;
    background-color: #eef;
    padding: 8px 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    overflow: scroll;
}

*/

.post code {
    font-size: 14px;
}

.post ul, .post ol {
    margin-left: 1.35em;
}

/*
.post pre code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}
*/

/* terminal */

/*
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.post pre.terminal code {
    background-color: #333;
}
*/

/* Syntax highlighting styles */

.hljs {
    /* border-left: 1px solid #009933!important; */
    border: 1px solid #3f87a6;
    border-left: 5px solid #3f87a6
}

/* ----------------------------------------------------------*/

.highlight {
    background: #ffffff;
}

.highlight .c {
    color: #999988;
    font-style: italic
}

/* Comment */

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

/* Error */

.highlight .k {
    font-weight: bold
}

/* Keyword */

.highlight .o {
    font-weight: bold
}

/* Operator */

.highlight .cm {
    color: #999988;
    font-style: italic
}

/* Comment.Multiline */

.highlight .cp {
    color: #999999;
    font-weight: bold
}

/* Comment.Preproc */

.highlight .c1 {
    color: #999988;
    font-style: italic
}

/* Comment.Single */

.highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic
}

/* Comment.Special */

.highlight .gd {
    color: #000000;
    background-color: #ffdddd
}

/* Generic.Deleted */

.highlight .gd .x {
    color: #000000;
    background-color: #ffaaaa
}

/* Generic.Deleted.Specific */

.highlight .ge {
    font-style: italic
}

/* Generic.Emph */

.highlight .gr {
    color: #aa0000
}

/* Generic.Error */

.highlight .gh {
    color: #999999
}

/* Generic.Heading */

.highlight .gi {
    color: #000000;
    background-color: #ddffdd
}

/* Generic.Inserted */

.highlight .gi .x {
    color: #000000;
    background-color: #aaffaa
}

/* Generic.Inserted.Specific */

.highlight .go {
    color: #888888
}

/* Generic.Output */

.highlight .gp {
    color: #555555
}

/* Generic.Prompt */

.highlight .gs {
    font-weight: bold
}

/* Generic.Strong */

.highlight .gu {
    color: #aaaaaa
}

/* Generic.Subheading */

.highlight .gt {
    color: #aa0000
}

/* Generic.Traceback */

.highlight .kc {
    font-weight: bold
}

/* Keyword.Constant */

.highlight .kd {
    font-weight: bold
}

/* Keyword.Declaration */

.highlight .kp {
    font-weight: bold
}

/* Keyword.Pseudo */

.highlight .kr {
    font-weight: bold
}

/* Keyword.Reserved */

.highlight .kt {
    color: #445588;
    font-weight: bold
}

/* Keyword.Type */

.highlight .m {
    color: #009999
}

/* Literal.Number */

.highlight .s {
    color: #d14
}

/* Literal.String */

.highlight .na {
    color: #008080
}

/* Name.Attribute */

.highlight .nb {
    color: #0086B3
}

/* Name.Builtin */

.highlight .nc {
    color: #445588;
    font-weight: bold
}

/* Name.Class */

.highlight .no {
    color: #008080
}

/* Name.Constant */

.highlight .ni {
    color: #800080
}

/* Name.Entity */

.highlight .ne {
    color: #990000;
    font-weight: bold
}

/* Name.Exception */

.highlight .nf {
    color: #990000;
    font-weight: bold
}

/* Name.Function */

.highlight .nn {
    color: #555555
}

/* Name.Namespace */

.highlight .nt {
    color: #000080
}

/* Name.Tag */

.highlight .nv {
    color: #008080
}

/* Name.Variable */

.highlight .ow {
    font-weight: bold
}

/* Operator.Word */

.highlight .w {
    color: #bbbbbb
}

/* Text.Whitespace */

.highlight .mf {
    color: #009999
}

/* Literal.Number.Float */

.highlight .mh {
    color: #009999
}

/* Literal.Number.Hex */

.highlight .mi {
    color: #009999
}

/* Literal.Number.Integer */

.highlight .mo {
    color: #009999
}

/* Literal.Number.Oct */

.highlight .sb {
    color: #d14
}

/* Literal.String.Backtick */

.highlight .sc {
    color: #d14
}

/* Literal.String.Char */

.highlight .sd {
    color: #d14
}

/* Literal.String.Doc */

.highlight .s2 {
    color: #d14
}

/* Literal.String.Double */

.highlight .se {
    color: #d14
}

/* Literal.String.Escape */

.highlight .sh {
    color: #d14
}

/* Literal.String.Heredoc */

.highlight .si {
    color: #d14
}

/* Literal.String.Interpol */

.highlight .sx {
    color: #d14
}

/* Literal.String.Other */

.highlight .sr {
    color: #009926
}

/* Literal.String.Regex */

.highlight .s1 {
    color: #d14
}

/* Literal.String.Single */

.highlight .ss {
    color: #990073
}

/* Literal.String.Symbol */

.highlight .bp {
    color: #999999
}

/* Name.Builtin.Pseudo */

.highlight .vc {
    color: #008080
}

/* Name.Variable.Class */

.highlight .vg {
    color: #008080
}

/* Name.Variable.Global */

.highlight .vi {
    color: #008080
}

/* Name.Variable.Instance */

.highlight .il {
    color: #009999
}

#bfloat {
    display: none;
}

/* Literal.Number.Integer.Long */

/* media queries */

/* ----------------------------------------------------------*/

@media screen and (max-width: 650px) {
    #bfloat {
        display: block;
        position: relative;
        text-align: center;
    }
    .wrap {
        padding: 0 12px;
    }
    .site-nav {
        position: fixed;
        z-index: 10;
        top: 14px;
        right: 8px;
        background-color: white;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #e8e8e8;
    }
    .site-nav .menu-icon {
        display: block;
        font-size: 24px;
        color: #505050;
        float: right;
        width: 36px;
        text-align: center;
        line-height: 36px;
    }
    .site-nav .menu-icon svg {
        width: 18px;
        height: 16px;
    }
    .site-nav .trigger {
        clear: both;
        margin-bottom: 5px;
        display: none;
    }
    .site-nav:hover .trigger {
        display: block;
    }
    .site-nav .page-link {
        display: block;
        text-align: right;
        line-height: 1.25;
        padding: 5px 10px;
        margin: 0;
    }
    .post-header h1 {
        font-size: 2em;
    }
    .post-content h2 {
        font-size: 1.5em;
    }
    .post-content h3 {
        font-size: 1.17em;
    }
    .post-content h4 {
        font-size: 0.82em;
    }
    .post-content blockquote {
        padding-left: 10px;
    }
    .post-content ul, .post-content ol {
        padding-left: 10px;
    }
}

.icon>svg {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: .2em;
}

@media print {
    .fb-comments, .interactive, .topnav {
        display: none !important;
    }
    #disqus_thread {
        display: none !important;
    }
    .break {
        page-break-after: always;
    }
    /*
    .grid>.card {
        width: 540px !important;
    }
    */
    .iprint * {
        visibility: visible;
    }
    body * {
        visibility: hidden;
    }
}

/*CodeSnippets*/

.language-js {
    margin-top: 8px;
}

.snippet-console {
    margin: 0px 0 0px 0;
    min-height: 24px;
    position: relative;
    font-size: 14px;
    font-family: "Roboto Mono", monospace;
}

.snippet-console-log {
    background: #F7F6F1;
    padding: 8px 16px;
    min-height: 14px;
    white-space: pre-wrap;
}

.snippet-run-button {
    position: absolute;
    right: 4px;
    top: 5px;
    font-size: 14px;
    padding: 1px 6px;
}

.snippet-error {
    background-color: rgba(255, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
}

.snippet-error .snippet-error-msg {
    margin-left: 8px;
}

.CodeMirror {
    border: 1px solid #eee;
    font-size: 14px;
    height: auto !important;
}

.ludwig {
    background-color: #f7f6f1;
    font-family: 'Roboto', serif;
}

.lvn {
    background-color: #f7f6f1;
    font-family: 'Roboto', serif;
}

/*Tree*/

/* It's supposed to look like a tree diagram */

.tree, .tree ul, .tree li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tree {
    margin: 0 0 1em;
    text-align: center;
}

.tree, .tree ul {
    display: table;
}

.tree ul {
    width: 100%;
}

.tree li {
    display: table-cell;
    padding: .5em 0;
    vertical-align: top;
}

/* _________ */

.tree li:before {
    outline: solid 1px #666;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.tree li:first-child:before {
    left: 50%;
}

.tree li:last-child:before {
    right: 50%;
}

.tree code, .tree spa {
    border: solid .1em #666;
    border-radius: .2em;
    display: inline-block;
    margin: 0 .2em .5em;
    padding: .2em .5em;
    position: relative;
}

/* If the tree represents DOM structure */

.tree code {
    font-family: monaco, Consolas, 'Lucida Console', monospace;
}

/* | */

.tree ul:before, .tree code:before, .tree spa:before {
    outline: solid 1px #666;
    content: "";
    height: .5em;
    left: 50%;
    position: absolute;
}

.tree ul:before {
    top: -.5em;
}

.tree code:before, .tree spa:before {
    top: -.55em;
}

/* The root node doesn't connect upwards */

.tree>li {
    margin-top: 0;
}

.tree>li:before, .tree>li:after, .tree>li>code:before, .tree>li>span:before {
    outline: none;
}

/**/

.MathJax {
    pointer-events: none;
}

.box {
    margin-top: 20px;
    box-shadow: 0 0 10px #eee;
    border: 1px solid #dee2e6!important;
    padding: 15px;
}

/** admonition **/

@media print {
    .bd-toc {
        display: none !important;
    }
    .col-md-9 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .container {
        width: 100% !important;
        max-width: 100% !important;
    }
}

.admonition {
    /* margin: 1.5625em auto;*/
    padding: 0 .6rem .8rem!important;
    overflow: hidden;
    page-break-inside: avoid;
    border-left: .2rem solid #007bff;
    border-radius: .1rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .05), 0 0 .05rem rgba(0, 0, 0, .1);
    transition: color .25s, background-color .25s, border-color .25s
}

.admonition :last-child {
    margin-bottom: 0
}

.admonition p.admonition-title~* {
    padding: 0 1.4rem
}

.admonition>ol, .admonition>ul {
    margin-left: 1em
}

.admonition .admonition-title {
    position: relative;
    margin: 0 -.6rem!important;
    padding: .4rem .6rem .4rem 2.5rem;
    font-weight: 700;
    background-color: rgba(68, 138, 255, .1)
}

.admonition .admonition-title:before {
    position: absolute;
    left: .6rem;
    width: 1rem;
    height: 1rem;
    color: #007bff;
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    content: ""
}

.admonition .admonition-title+* {
    margin-top: .4em
}

.admonition.attention {
    border-color: #fd7e14
}

.admonition.attention .admonition-title {
    background-color: #ffedcc
}

.admonition.attention .admonition-title:before {
    color: #fd7e14;
    content: ""
}

.admonition.caution {
    border-color: #fd7e14
}

.admonition.caution .admonition-title {
    background-color: #ffedcc
}

.admonition.caution .admonition-title:before {
    color: #fd7e14;
    content: ""
}

.admonition.warning {
    border-color: #dc3545
}

.admonition.warning .admonition-title {
    background-color: #fdf3f2
}

.admonition.warning .admonition-title:before {
    color: #dc3545;
    content: ""
}

.admonition.danger {
    border-color: #dc3545
}

.admonition.danger .admonition-title {
    background-color: #fdf3f2
}

.admonition.danger .admonition-title:before {
    color: #dc3545;
    content: ""
}

.admonition.error {
    border-color: #dc3545
}

.admonition.error .admonition-title {
    background-color: #fdf3f2
}

.admonition.error .admonition-title:before {
    color: #dc3545;
    content: ""
}

.admonition.hint {
    border-color: #ffc107
}

.admonition.hint .admonition-title {
    background-color: #fff6dd
}

.admonition.hint .admonition-title:before {
    color: #ffc107;
    content: ""
}

.admonition.tip {
    border-color: #ffc107
}

.admonition.tip .admonition-title {
    background-color: #fff6dd
}

.admonition.tip .admonition-title:before {
    color: #ffc107;
    content: ""
}

.admonition.important {
    border-color: #007bff
}

.admonition.important .admonition-title {
    background-color: #e7f2fa
}

.admonition.important .admonition-title:before {
    color: #007bff;
    content: ""
}

.admonition.note {
    border-color: #007bff
}

.admonition.note .admonition-title {
    background-color: #e7f2fa
}

.admonition.note .admonition-title:before {
    color: #007bff;
    content: ""
}

.admonition.definition {
    border-color: #007bff;
}

.admonition.definition .admonition-title {
    background-color: #e7f2fa
}

.admonition.definition .admonition-title:before {
    color: #007bff;
    content: ""
}


/**quote**/

#quote{
    padding: 14px 16px;
}