---
layout: default
---
<!--
<div class="kws">
  {% assign sorted_tags = site.tags | sort %}
  {% for tag in sorted_tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}
  <a  href onclick="filter('{{ t }}'); return false;">{{ t }}</a>
  {% endfor %}
</div>
<div>
  <div class="kw">
    <a href onclick="filter('Math')">Math</a>
    <a href onclick="filter('GCP')">GCP</a>
    <a href onclick="filter('GCP')">GCP</a>
  </div>
</div>
-->


<div class="view_year">
  {% assign sorted_pages = site.cs  | sort:"order" | reverse %}
  {% for post in sorted_pages %}
  {% if post.hidden != true %}
  <div class="materials-item">
    <div class="tt">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </div>
    <div class="kw">
      {% for tag in post.tags  %}
      <a href onclick="filter('{{tag}}'); return false;">{{tag}}</a>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>




{% assign tags =  site.cs | map: 'tags' | join: ','  | split: ',' | uniq %}

{% for tag in tags %}



<div class="{{ tag }} tag ">
  <div class="">

      {% assign sorted_pages = site.cs  | sort:"order" | reverse %}
      {% for post in sorted_pages %}
      {% if post.tags contains tag %}
        {% if post.hidden != true %}
        <div class="materials-item">
          <div class="tt">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </div>
          <div class="kw">

            {% for tag in post.tags  %}
            <a href onclick="filter('{{tag}}'); return false;">{{tag}}</a>

            {% endfor %}
          </div>
        </div>
        {% endif %}
      {% endif %}
      {% endfor %}
  </div>
</div>

{% endfor %}


</div>
</div>


<script>
  var view = "view_year";
  function filter(tag) {
    document.getElementsByClassName(view)[0].style.display = "none";
    view = tag;
    document.getElementsByClassName(tag)[0].style.display = "inline";
    history.replaceState(null, null, "?tag=" + tag);
  }

  var parseQueryString = function () {

    var str = window.location.search;
    var objURL = {}

    str.replace(
      new RegExp("([^?=&]+)(=([^&]*))?", "g"),
      function ($0, $1, $2, $3) {
        objURL[$1] = $3
      }
    );
    return objURL
  };

  //Example how to use it: 
  var params = parseQueryString()
  if (params["tag"]) {
    filter(params["tag"]);
  }

</script>