<div class=" topnav">

  <div class="ava">
    <img id="Capa_1" class="mr-2" version="1.1" id="Capa_1" width="35px" height="35px" src="/assets/svg/cloudy.svg">
    <a href="/" id="home" style="color: #9B5DE5; font-size: 20px;" class="text-capitalize font-weight-bold mb-0">Van
      Phuc</a>
    <a href="/tool" id="tool" style="color: #9B5DE5; font-size: 20px;"
      class="text-capitalize font-weight-bold mb-0">Tool</a>
    <a href="/showcase" id="tool" style="color: #9B5DE5; font-size: 20px;"
      class="text-capitalize font-weight-bold mb-0">Showcase</a>
    <a href="/book" id="tool" style="color: #9B5DE5; font-size: 20px;"
      class="text-capitalize font-weight-bold mb-0">Book</a>


  </div>
  <span href="/" class="text-dark" id="quote">"Simplicity makes me happy"</span>

  <!--
  <a href="/" class="text-dark" id="about">Simplicity makes me happy.</a>
-->

</div>

<script>
  {% if  page.active %} document.getElementById("{{ page.active}}").className = "active"; {% else %} document.getElementById("home").className = "active" {% endif %}

</script>