<!--
    <div class="wrap title-wrap">
        <a class="site-title" href="{{ site.baseurl }}/"><b>{{ site.title }}</b></a>
          -->
<div class="topnav" id="myTopnav">
    <a href="{{ site.baseurl }}/" class="active">Van Phuc</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars" style="color:#009933"></i>
    </a>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>