
<div class=" topnav">

  <div class="ava">
    <img  id="Capa_1" class="mr-2" version="1.1" id="Capa_1"   width ="35px" height ="35px"  src="/assets/svg/cloudy.svg">
    <a href="/" id="home" style="color: #9B5DE5; font-size: 20px;" class="text-capitalize font-weight-bold mb-0">Van
    Phuc</a>
  </div>
  <a href="/" class="text-dark" id="about">About</a>

</div>

<script>
  {% if  page.active %} document.getElementById("{{ page.active}}").className = "active"; {% else %} document.getElementById("home").className = "active" {% endif %}

</script>