<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}


  <div class="page-content">
    <div class="wrap">
      <!-- ttt -->
      <div  style = "width:100%">
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
      </div>
      {{ content }}
    </div>
  </div>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
  <script>
    MathJax = {
      options: {
        enableMenu: false
      },
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ["\\[", "\\]"]]
      },
      startup: {
        ready: () => {
          MathJax.startup.defaultReady();
          MathJax.startup.promise.then(() => {
            if (typeof mind != "undefined") { mind.linkDiv() }
            console.log('MathJax initial typesetting complete');
          });
        }
      }
    };
  </script>
</body>

</html>
