---
layout: default2
---
<script src="https://cdn.jsdelivr.net/npm/regenerator-runtime"></script>
<script src="{{ " /js/MindElixir.js " | prepend: site.baseurl }}"></script>

<div class="post">
  <article class="post-content">
    <div id="map"></div>
    <style>
      #map {
        height: 800px;
        width: 100%;
      }
    </style>
    {{ content }}
  </article>

</div>

<script>
  let mind = new MindElixir({
    el: '#map',
    direction: MindElixir.SIDE,
    // create new map data
    data: MindElixir.new('new topic'),
    // or set as data that is return from `.getAllData()`
    data: data1,
    draggable: true, // default true
    contextMenu: true, // default true
    toolBar: true, // default true
    nodeMenu: true, // default true
    keypress: true, // default true
    locale: 'en', // [zh_CN,zh_TW,en,ja]
    contextMenuOption: {
      focus: true,
      link: true
    },
    allowUndo: false,
    before: {
      insertSibling(el, obj) {
        return true
      },
      async addChild(el, obj) {
        return true
      },
    },
  })
  mind.init()

  setTimeout(function () {
    mind.linkDiv()
  }, 1000)

</script>

<link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}">

<div class=" topnav">

  <div class="ava">
    <img  id="Capa_1" height ="35px"  width ="35px"  src="/assets/svg/cloudy.svg">

    <a href="/" id="home" style="color: #9B5DE5; font-size: 20px;" class="text-capitalize font-weight-bold mb-0">Van
      Phuc</a>
  </div>
  <a href="/" class="text-dark" id="about">About</a>

</div>